<h1>Edit <%= @movie.name %></h1>

<form action="/movies/<%= @movie.slug %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">

  <label for="name">Name</label>
  <input type="text" name="movie[name]" id="name" value="<%= @movie.name %>">

  <label for="user_name"> User Name </label>
  <input type="text" name="user_name" value="<%= @movie.user.name %>" > </br>


    <label>Genre</label>
    <input type="text" name="genre_name">


  <input type="submit" value="Save">
</form>
