<h1>Movies</h1>
<h4><a href='/movies/new'>add movie</a></h4>

<% if @movies.size != 0 %>
  <% @movies.each do |movie| %>
    <h3>Movie Title: <a href="/movies/<%=movie.slug%>"> <%= movie.name %> </a></h3>
    <p> added by: <% if movie.user != nil %><%= movie.user.name %><%end%>
    <% end %>
  <% end %>
