<h1>Movies</h1>
<h4><a href='/movies/new'>add movie</a></h4>

<% if @movies.size != 0 %>
<div class="row">
  <% @movies.each do |movie| %>
  <div class="col-sm-4 movie-poster">
    <h3>Movie Title: <br>
      <a href="/movies/<%=movie.slug%>"> <%= movie.name %> </a></h3>
    <p> added by:
    <% if movie.user.id == current_user.id%>
      You
      <% else %>
      <%= movie.user.name %>
      <%end%>
    </p>
    </div>
    <% end %>
  <% end %>

  <style>
  .movie-poster{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 2px;
    background-color: rgba(193, 219, 245, 0.2);
  }

  .movie-poster:hover {
    background-color: rgba(193, 219, 245, 1);
    box-shadow: 10px 5px 5px grey;
  }

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
  </style>
