<div class="container" align='center' id='signup'>
<h1 id="signup_welcome">Sign Up</h1>
  <form action='/signup' method="POST">

    <label for='name'>Name</label>
    <input type="text" name='name'><br>

    <label for='email'>Email</label>
    <input type="text" name='email'><br>

    <label for='password'>Password</label>
    <input type="text" name='password'><br>

    <input type="submit" value="Submit"><br>
  </form>
      <a href="/login">Already Signed Up?</a>
</div>
