<div class="container" align='center' id='signup'>
  <h1 id="login_welcome">Login</h1>
  <br>
    <form action='/login' method="POST">

      <label for='name'>Name  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
      <input type="text" name='name'>
      <br>
      <br>

      <label for='password'>Password</label>
      <input type="password" name='password'>
      <br>
      <br>
      <input type="submit" id='submit' value="Login" class="login_btn"><br>
      <br>
    </form>
    <a href="/signup">New User?</a>
</div>

<style>
.login_btn {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    border-radius: 5px;
    width: 15%;
}

.login_btn:hover {
  background-color: rgba(0, 50, 200, 0.1);
}
