
<% if !!flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
<div class="container">
  <a href="/login"><img src='https://i.axs.com/2015/05/promoted-media_5563c61b0df32.jpg'></a>
</div>

<style>
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-radius: 20px;
}
</style>
